<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdn.tailwindcss.com" ></script>
</head>
<body>
  <div class="w-full min-h-screen bg-zinc-900 text-white p-10">
    <h3 class="text-3xl mb-5">Login Your Account</h3>
    <form action="/login" method="post">
     
      
      <input class="bg-transparent px-3 py-2 outline-none border-2 border-zinc-500 rounded-md" type="email" placeholder="email" name="email">
      <input class="bg-transparent px-3 py-2 outline-none border-2 border-zinc-500 rounded-md" type="password" placeholder="password" name="password">
      <button class="bg-blue-500 rounded-md px-3 py-2 ">Create User</button>
    </form>
    <a href="/" class="text-blue-500" > Create Account</a>
  </div>
</body>
</html>