<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src = "https://cdn.tailwindcss.com"></script>

  <title>Document</title>
</head>
<body>
  <div class="w-full h-screen ">
    <h1 class="m-10">Yes You can log in.</h1>
    <a class= "m-10 bg-red-700 px-3 py-2 border-2 rounded-md" href="/">LogOut</a>
  </div>
</body>
</html>